html{
    scroll-behavior: smooth;
}








input, textarea, select, button {
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 15px; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a:hover {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../images/bg-registration-form-7.jpg") no-repeat;
    background-size: cover; }
  
  .inner {
    color:white;
    max-width: 758px;
    margin: auto;
    background: linear-gradient(rgba(140, 20, 252, 0.3), rgba(0, 0, 0, 0.5));
    border: 10px solid rgba(140,0,255,0.4);
    padding: 77px 99px 87px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  
  textarea {
    resize: none; }
  
  h3 {
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Montserrat-Bold";
    text-align: center;
    margin-bottom: 12px; }
  
  p {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 55px;
    line-height: 1.8; }
  
  .form-group {
    position: relative;
    display: block;
    margin-bottom: 48px; }
    .form-group span {
      font-size: 15px;
      color: #fff;
      position: absolute;
      top: 11px;
      transition: all .2s ease;
      transform-origin: 0 0;
      cursor: text; }
    .form-group span.border {
      height: 2px;
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 41px;
      transform: scaleX(0);
      transition: all .15s ease;
      background: #fff; }
  
  .form-control {
    border: none;
    border-bottom: 2px solid rgba(140,0,255,0.4);
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: none;
    font-family: "Montserrat-SemiBold"; }
    .form-control:focus, .form-control:valid {
      border-bottom: 2px solid #fff; }
      .form-control:focus + span, .form-control:valid + span {
        transform: translateY(-22px) scale(0.8); }
        .form-control:focus + span + .border, .form-control:valid + span + .border {
          transform: scaleX(1); }
  
  textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px; }
  
   form button {
    border: none;
    width: 162px;
    height: 51px;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
     button i {
      margin-left: 10px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
     button:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(58, 0, 112, 0.6), rgba(0, 0, 0, 0.5));

      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
     button:hover {
      border-color: transparent; }
       button:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
       button:hover i {
        -webkit-transform: translateX(4px);
        transform: translateX(4px); }
  
  @media (max-width: 767px) {
    h3 {
      font-size: 38px; }
  
    p {
      font-size: 14px;
      padding: 0; }
  
    .inner {
      padding: 27px 20px 37px;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  
    .wrapper {
        background: linear-gradient(rgba(140, 20, 252, 0.3), rgba(0, 0, 0, 0.5));
        border: 10px solid rgba(140, 20, 252, 0.3); } }
  
    .main{
        background-color: #000 !important;
    }
  























* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: black;
    font-family: sans-serif;


}

body p {
    color: lightgray;
}

#section1 {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
}

ul {
    display: flex;
    justify-content: space-between;
}

.first .te{
   
}

ul li a:hover{
    border-bottom:2px solid purple;
}

li {
    margin: 0 0.7rem;
}

li a {
    text-decoration: none;
    color: white;
}


nav {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: 0.8s ease-in-out;
    width: 100%;

}

li {
    padding: 0.2rem;
    width: 100%;


}

li a {
    padding: 0.3rem;
    width: 100%;

}

.ic {
    position: absolute;
    opacity: 0;
    padding: 0.3rem;
    font-size: 18px !important;

}

.ico {
    position: absolute;
    opacity: 0;
    padding: 0.3rem;

}


.first:hover>.ic {
    display: flex;
    justify-content: space-between;
    transform: translateX(-160%);
    opacity: 1;
    transition: 0.8s ease-in-out;
    clip-path: circle();
    background-color: rgb(128, 0, 128);
}

.first:hover>.ico {
    display: flex;
    justify-content: space-between;
    transform: translateX(-190%);
    opacity: 1;
    transition: 0.8s ease-in-out;
    clip-path: circle();
    background-color: purple;
}


.team {
    position: absolute;
    opacity: 0;
    padding: 0.3rem;

}
.first:hover>.team {
    display: flex;
    justify-content: space-between;
    transform: translateX(-120%);
    opacity: 1;
    transition: 0.8s ease-in-out;
    clip-path: circle();
    background-color: purple;
}


.navbrand {
    display: flex;
    color: white;
    columns: 1/-1;
    display: flex;

}

.fa-alien {
    color: white;
}

.brandpara {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    opacity: 0;
    transform: translate(-50%, 0);
    font-size: 2rem;
}

.navbrand {
    padding: 0 2rem;
    cursor: pointer;
}


.navbrand h1 {
    background-color: red;
    font-size: 2rem;
    clip-path: circle();
    padding: 0.7rem;
    text-align: center;
}

#h1 {
    width: 50px;
}

.sec1container {
    width: 100%;
    height: 100%;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 5% 1fr 1fr;
    padding: 7rem;
    align-items: center;
    place-content: center;

}

.pic img {
    clip-path: ellipse();
}

.intro h1 {
    font-size: 4rem;

}

.intro #h {
    font-size: 7rem;
    color: red;
}

.intro .para {
    font-size: 1rem;
    line-height: 1.9;
    color: lightgray;
    width: 100%;
    margin-bottom: 2rem;
}


ul {
    text-decoration: none;
    list-style: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
}

input[type="radio"] {
    margin: 0 0.6rem;
}

.intro .social {
    grid-row: 1/-1;
}

.contact-btn {
    position: relative;
    margin-top: 2rem;
    display: inline;


}

#contact {
    color: white;
    background: transparent;
    border: 1px solid purple;
    padding: 0.9rem;
}
#contact p{
    margin-bottom: 0;
}
#left {
    height: 1px;
    width: 20px;
    background-color: red;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    top: 50%;
    left: 0;
}

#right {
    height: 1px;
    width: 20px;
    background-color: red;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0%;
    top: 50%;
    bottom: 0;
}

#contact:hover {
    background-color: purple;
    transition: all 0.75s;
    cursor: pointer;
    transform: translate(0%, -5px);
}


#section2 {
    height: 100%;
    width: 100%;
    margin-top: 2rem;

}

.sec2container {
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    margin: auto;
    place-content: center;
    align-items: center;
}

.card {
    margin: 1rem;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    border-radius: 24px;
    font-weight: bolder;
    
}


.overlay img {
    border-radius: 24px;
}

.overlay {
    border-radius: 24px;

}

/* Chrome 10-25, Safari 5.1-6 */
.card1 {
    box-shadow: -3px 4px 18px 7px rgb(0, 0, 192);
    background: linear-gradient(rgb(16, 24, 32), rgba(0, 0, 0, 0.5));
}

.card2 {
    box-shadow: -3px 4px 18px 7px rgb(0, 218, 11, 0.5);
    background: linear-gradient(rgb(55, 0, 179, 0.3), rgba(0, 0, 0, 0.4));
}

.card3 {
    box-shadow: -3px 4px 18px 7px rgb(0, 163, 155);
    background: linear-gradient(rgb(141, 0, 141, 0.3), rgba(0, 0, 0, 0.4));

}

.card4 {
    box-shadow: -3px 4px 18px 7px rgba(148, 0, 0, 0.91);
    background: linear-gradient(rgb(0, 107, 56, 0.3), rgba(0, 0, 0, 0.4))
}

.cardhead {
    font-size: 2rem;
    color: white;
}

.card1sub,
.card2sub,
.card3sub,
.card4sub {
    font-size: 1rem;
}

.cardtext {
    font-size: 0.8rem;
    line-height: 1.5;
}



.card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.6s;
    cursor: pointer;

}

.card2 .overlay {
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: red;


    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s;

}


.card3 .overlay {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: red;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.6s;

}

.card4 {
    position: relative;
}

.card4 .overlay {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: red;
    left: 0;
    top: 0;
    /* bottom: 0; */
    right: 0;
    opacity: 0;
    transition: all 0.6s;

}

.card4:hover .overlay {
    bottom: 0;
    height: 100%;
}


.overlay img {
    width: 100%;
    height: 100%;
}

.card:hover .overlay {
    opacity: 1;
    height: 100%;
    width: 100%;


}

.card:hover .cardtext,
.card:hover .cardhead,
.card:hover .cardsub {
    color: black;
    visibility: hidden;
}




.cir {
    width: 4rem;
    height: 4rem;
    clip-path: square;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transform: translate(0, 0);

}

.cir p {
    width: 100%;

}

.cir1 {
    background-color: red;
    transform: rotate(20deg);
    width: auto;


}

.cir2 {
    background-color: blue;
    transform: rotate(60deg);

}

.cir3 {
    background-color: green;
    transform: rotate(80deg);

}

#section3 {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;

}

.sec3container {

    box-shadow: -3px 4px 18px 7px rgb(128, 0, 128,0.4);
    background: linear-gradient(rgb(128, 0, 128,0.4),rgba(0,0,0,0.6));
    height: auto;
    width: 60%;
    margin: auto;
    position: relative;
    /* animation: rotation 14s linear infinite; */
    align-items: center;
    grid-template-columns: 1fr;
    place-content: center;
    grid-gap: 1rem 4rem;
    border-radius: 70px;



}

.sec3container .im {
    width: 30%;
    transition: all 0.5s;
}


.sec3container .img1 {
    width: 33%
}

.sec3container .img3 {
    width: 27%
}

.sec3container .img4 {
    width: 35%
}



.sec3container .img5 {
    width: 30%
}

.sec3container:hover {
    animation-play-state: paused;

}




.sec3container a {
    color: white;
    text-decoration: none;
}



.im {
    clip-path: circle();
}





@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#section4 {
    width: 100vw;
    height: 90vh;
    margin-top: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sec4container {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    color: white;



}


.stop {

    animation-play-state: paused !important;
    width:70px;
}


.ball {
    text-align: center;
    display: none;
    background: black;
    margin: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: radial-gradient(circle at 100px 100px, purple, #000);
    cursor: pointer;
    box-shadow:2px 3px 3px red;
    filter:blur();
}

.ball .shadow {
    position: absolute;
    width: 50%;
    height: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}








.sec {
    width: 90%;
    height: 90%;
    padding: 5rem;
    border-radius: 24px;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem;

    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%);; */
}

.sec1 {
    background-color: black;
    box-shadow: -3px 4px 18px 7px blue;

}

.sec2 {
    background-color: black;
    box-shadow: -3px 4px 18px 7px purple;

}

.sec3 {
    background-color: black;
    box-shadow: -3px 4px 18px 7px red;

}

.sec4 {
    background-color: black;
    box-shadow: -3px 4px 18px 7px pink;

}

.card4tit {
    line-height: 2;
    margin-top: 0.5rem;
}

.card1img {
    clip-path: circle();
    width: 30%;
}


#section5 {
    margin-top: 4rem;
}


.scene {
    width: 50%;
    height: 50vh;
    margin: auto;
    perspective: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
}

.cube {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    height: 60%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
    animation: rotate 4s linear infinite;

}

.cube:hover {
    animation-play-state: paused;
}

.cube.show-front {
    transform: translateZ(-100px) rotateY(0deg);
}

.cube.show-right {
    transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(-100px) rotateY(90deg);
}

.cube.show-top {
    transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
}

.cube__face .image img {
    width: 100%;
    height: 100%;
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cube__face--front {
    background: hsla(0, 100%, 50%, 0.7);
}

.cube__face--right {
    background: hsla(60, 100%, 50%, 0.7);
}

.cube__face--back {
    background: hsla(120, 100%, 50%, 0.7);
}

.cube__face--left {
    background: hsla(180, 100%, 50%, 0.7);
}

.cube__face--top {
    background: hsla(240, 100%, 50%, 0.7);
}

.cube__face--bottom {
    background: hsla(300, 100%, 50%, 0.7);
}

.cube__face--front {
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

label {
    margin-right: 10px;
}


.fa {
    /* width: 20px; */
    color: white;
}

.icon {
    padding: 0.5rem;
    font-size: 2rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.icon:nth-child(1):hover {
    color: #00acee
}

.icon:nth-child(2):hover {
    color: #C13584
}

.icon:nth-child(3):hover {
    color: black;

}

.icon:nth-child(4):hover {
    color: #2867B2;

}

.icon:nth-child(5):hover {
    color: #BB001B;

}



@keyframes rotate {
    0% {
        transform: rotate3d(0);
    }

    25% {
        transform: rotate3d(1, 1, 1, 45deg);
    }

    50% {
        transform: rotate3d(2, -1, -1, -0.2turn);
    }

    75% {
        transform: rotate3d(0, 1, 0.5, 3.142rad);
    }

    100% {
        transform: rotate3d(0)
    }
}

#split {
    margin-top: 3rem;
}

#section6 {
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,rgb(59, 0, 59,0.6),rgba(0,0,0,0.7));
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 4rem;
}

.sec6container {
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;


}

.sec6head{
    margin-bottom:2rem;
}

.sec6para{
    margin-bottom:2rem;
    width: 100%;;

}


.bars {
    display: none;
}

.toggle-btn {
    display: block;
    height: 100vh;
    width: 100vw;
    right: 0;
    background: linear-gradient(rgba(140, 20, 252, 0.3), rgba(0, 0, 0, 0.5));



}

.brand-name2 {
    display: none;
}


@media only screen and (max-width:600px) {



    .brand-name2 {
        display: block;
        position: absolute;
        left: 2rem;
        top: 20px;
        color:purple;
    }

    .brand-name {
        display: none;
    }





    nav {
        display: none;
    }

    ul li {
        padding: 2rem;
    }

    .first .contact li {
       background:none !important;
    }

    .bars {
        display: block;
        right: 4rem;
        cursor: pointer;
    }

    .nav-items ul {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav-items .first li {
        width: 100%;
    }


    .sec1container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin: auto;
        text-align: center;
    }

    .sec2container {
        display: grid;
        grid-template-columns: 1fr;
        /* width:100%; */
        width: 70%;
        margin: auto;
        /* position: relative; */


    }

    .sec2container h1{
        font-size: 1rem;
    }

    .sec3container .im {
        width: 100%;
        transition: all 0.5s;
    }

    .sec3container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 50%;
        width: 70%;
        grid-gap: 0.3rem 1rem;

    }

    .sec4container {
        width: 80%;
        margin: auto;
    }

    .sec {
        padding: 0;
        height: 70%;

    }

    .card4tit {
        width: 100%
    }

    .ball {
        display: block;
    }

    .sec6container{
        width:100%;
    }

    .wrapper{
        height: 100vh;
        width: 100vw;
    }



}